

body
{
	background-image: url("Images/fonds.jpg") ;
	background-attachment: fixed;
	background-size: cover;
}

h1,p
{
	text-align: center
}

h2
{
	color: #23A2CC;
}

.imageflottante
{
    float: right;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black
}

.dessous
{
    clear: both;
}

